*{
    margin: 0;
    padding: 0;
}
.one{
    width: 250px;
    height: 600px;
    background-color: blueviolet;
    margin-top: 10px;
    
}
.two{
   height: 10px;
    width: 30px;
    background-color: black;
    
    
}

.three{
    width: 30px;
    height: 30px;
    background-color: cyan;
    position: absolute;
    top:28px;
    left: 220px;
}